.container{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.iconWrapper{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #E2CA0D;
  box-shadow: 0 0 15px rgba(246, 255, 0, 0.2);
  transition: all ease-out .3s;
  transition-delay: .1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.iconWrapper::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #232324;
  transform: scale(0);
  transition: all ease-in-out .3s;
  z-index: -1;
  border-radius: 50%;
}

.iconWrapper:hover svg,
.iconWrapper:focus svg{
  color: #DCD6CA;
}

.iconWrapper:hover:before,
.iconWrapper:focus:before{
  transform: scaleX(1);
}

.container svg{
  color: #232324;
  font-size: 2rem;
}

.greeting{
  font-size: .9rem;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 10px;
  background: white;
  color: #000000;
  box-shadow: 0 0 10px rgba(246, 255, 0, 0.1);
  transition: all ease-out .3s;
}